<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Choose photos to add to alignment chart cells.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save your alignment charts to your photo library.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).MessagesViewController</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.message-payload-provider</string>
	</dict>
</dict>
</plist>
